* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 576px) {
    #header > .title {
        width: 70%;
    }

    #header {
        width: 100%;
    }

    #header > .menu {
        width: 13%!important;
    }

    #content {
        margin-top: 7em!important;
    }

    .item > img {
        width: 311px;
        height: 467px;
    }

    .row > .item {
        width: 83%;
        margin: 0px auto;
    }
}

@media screen and (min-width: 577px) and (max-width: 1023px) {
    .container {
        width: 100%;
    }

    #header {
        width: 100%;
    }

    #header > .title {
        width: 85%;
    }

    .item > img {
        width: 164px;
        height: 246px;
    }

    .row {
        display: flex;
        width: 94%;
        margin: 0px auto;
    }

    .row > .item {
        margin-right: 3%;
    }

    .row > .item:nth-last-child(1) {
        float: right;
    }

}

@media screen and (min-width: 1024px) {
    .container {
        width: 100%;
        margin: 0px auto;
    }

    #header {
        width: 100%;
        margin: 0px auto;
    }

   

    #header > .title {
        width: 85%;
    }

    .item > img {
        width: 228px;
        height: 342px;
    }

    .row {
        display: flex;
        width: 95%;
        margin: 0px auto;
    }

    .row > .item {
        margin-right: 2%;
    }
}

@media screen and (min-width: 1367px) {
    .container {
        width: 80%;
        margin: 0px auto;
    }

    #header {
        width: 80%;
        margin: 0px auto;
    }

    .item > img {
        width: 270px;
        height: 385px;
    }

    .row {
        display: flex;
        width: 95%;
        margin: 0px auto;
    }

    .row > .item {
        margin-right: 2%;
    }
}


.container-fluid {
    width: 100%;
}

#header {
    height: 3em;
    background-color: white;
    line-height: 3em;
    top: 0;
    font-size: 150%;
    position: fixed;
}

#header > .row {
    line-height: 4em;
    text-align: center;
}

#header > .item {
    display: inline-block;
    text-align: center;
}

#header > .menu {
    width: 7%;
}

#header > .menu:hover {
    background-color: #ccc;
}

#header > .mail {
    float: right;   
}

#content {
    margin-top: 5em;
}

.row > .item {
    text-align: center;
}

.row > .item > p {
    margin-top: 1em;
    margin-bottom: 1em;
    opacity: 0.8;
}

.row > .item > h3 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    opacity: 0.6;
    font-size: 140%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pagination {
    text-align: center;
    line-height: 1em;
    height: 1em;
}

.pagination > a {
    text-decoration: none;
    color: black;
    border: 1px solid red;
    background-color: chartreuse;
    padding: 0.5em 0.5em;
}